.environment
{
    background-color:#003399;
    text-align: center;
    color:#FFFFFF;
}
.deadenvironment
{
    background-color:#990000;
    text-align: center;
    color:#FFFFFF;
}

a
{
    color:#FFFFFF;
}

#left{
    text-align: center;
    float:left;
    width:25%;
}
#right{
    text-align: center;
    float:right;
    width:74%;
}
.job
{
    float:left;
    width:45%;
    border:1px solid #eee;
    height:210px;
    padding:20px;
    text-align: center;
}

.apdex
{ 
    padding:20px;
    height:150px;
    text-align: center;
    background-color:#2F4F4F;
    color:#FFFFFF;
}

.green
{
    color:#FFFFFF;
    background-color:#009900;
}

.red
{
    color:#FFFFFF;
    background-color:#990000;
}

.yellow
{
    color:#000000;
    background-color:#FFCC00;
}
.gray
{ 
    color:#FFFFFF;
    background-color:#696969;
}
.orange
{ 
    color:#FFFFFF;
    background-color:#FF4500;
}
.blue
{
    color:#000000;
    background-color:#6495ED;
}